.main {
    width: 980px;
    margin: 0 auto
}

svg {
    margin: 0 auto;
}

.head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Quicksand", sans-serif;
    text-align: right;
    color: #2d3c49;
    border-bottom: 3px solid #7d97ad;
    padding: 0 0 25px 0
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background: #7c95ab;
    padding-top: 40px;
}

.head .name h1 {
    font-size: 50px;
    margin: 0;
    font-weight: unset
}

.head .name h3 {
    font-size: 25px;
    margin: 0;
    font-weight: 600
}

.banner {
    margin: 25px 0;
    height: auto;
    width: 100%
}

h2 {
    color: #7d97ad;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin: 0 0 5px 0
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.my-work {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.small-container {
    width: 300px;
    text-align: center;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid rgb(204, 197, 197);
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(199, 194, 194);
}

.small-container img {
    width: 100%;
    height: 200px;
    border: 1px solid rgb(233, 224, 224);
    border-radius: 3px;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: #2d3c49;
    font-family: "Quicksand", sans-serif
}

a {
    text-align: center;
    display: block;
    color: #2d3c49;
    font-size: 16px;
    text-decoration: none
}

@media screen and (max-width: 1010px) {
    .main {
        width: 100%
    }
    .my-work {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
}

@media screen and (max-width: 632px) {
    .head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }
    h2 {
        text-align: center
    }
    .logo {
        margin: 0 auto
    }
}